{{component 'tag/edit-fields' model=model}}

<button {{action 'save'}}>Save</button>

<div class="row">
  <div class="col-md-6">
    <ul>
    {{#each model.taggings as |tagging|}}
      <li {{action 'removePost' tagging}}>{{tagging.post.title}}</li>
    {{/each}}
    </ul>
  </div>
  <div class="col-md-6">
    {{#each posts as |post|}}
      <li {{action 'addPost' post}}>{{post.title}}</li>
    {{/each}}
  </div>
</div>
