<div class="container set-password">
  <%= form_for :set_password do |f| %>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= f.submit "Set Password" %>
    </div>
  <% end %>
</div>
