
<%= javascript_include_tag "https://js.stripe.com/v2/" %>

<%= form_for @user, url: subscribe_path, authenticity_token: 'external_token', html: { method: :post } do |f| %>
  <div class="field">
    <%= f.label :card_number_16_digits %><br>
    <%= text_field_tag :card_number, nil, :maxlength => 16, :data => {:stripe => 'number'}, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :cvc %><br>
    <%= text_field_tag :cvc, nil, :maxlength => 3, :data => {:stripe => 'cvc'}, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= text_field_tag :name, nil, :data => {:stripe => 'name'}, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :exp_month_MM %><br>
    <%= text_field_tag :month, nil, :maxlength => 2, :size => 2, :data => {:stripe => 'exp-month'} %> /
    <%= f.label :exp_yr_YYYY %><br>
    <%= text_field_tag :year, nil, :maxlength => 4, :size => 4, :data => {:stripe => 'exp-year'} %>
  </div>


  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
