<h2>{{model.name}}</h2>
<p>{{model.description}}</p>
<div>Tag Type: {{model.tagType}}</div>
<div>Priority: {{model.priority}}</div>

<hr>
{{#link-to 'tag.edit' model tagName="button"}}Edit{{/link-to}}
<button {{action 'delete'}} class="pull-right">Delete</button>