<section>
  <div class="jumbotron text-center">


    <div class="container">
      <div class="row">
          <h1>The largest library of ember screencasts</h1>
          <a class="btn btn-ghost" href="/tags">View Library</a>
      </div>
    </div>
  </div>

</section>
<section>
  <div class="container">
    <h3>Featured Classes</h3>
    <div class="row">

      <% Tag.limit(3).where(tag_type: 'series').order('most_recent_publish_date DESC').each do |series| %>
        <div class="col-md-4 card-well">
          <div class="well">
            <%= link_to series, class: 'link-but-normal' do %>

              <!-- Series Image used here -->
              <%= image_tag 'fallback_thumbnail.jpg', class: "img-responsive" %>

              <div class="details">
                <h4 class="media-heading"><%= series.name %></h4>
                <%= series.taggings.length %> videos in the series
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="text-center">
        <%= link_to "View All Classes", tags_path, class: 'btn btn-link btn-lg' %>
      </div>

    </div>
  </div>
</section>

<section class="bg-prime">
  <div class="container">
    <div class="text-center">
      <h3 class="text-white">Do you want to take your Ember.js skills to the next level?</h3>
      <hr style="margin-top: 60px">
      <%= link_to 'Learn More', '#', class: 'btn btn-ghost btn-line' %>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="well well-sm text-center">
          <h3>Free Account</h3>
          <ul class="list-unstyled">
            <li>Access to all Free videos</li>
            <li>Get notified about new videos</li>
            <li>Recieve one free pro video</li>
            <li>Upgrade to Pro account anytime</li>
          </ul>
          <%= link_to "Sign up for Free", "/users/sign_up", class: "btn btn-primary btn-lg" %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="well well-sm text-center">
          <h3>Subscribe to Pro</h3>
          <ul class="list-unstyled">
            <li>Access to over 150+ Videos</li>
            <li>Get notified about new videos</li>
            <li>Level up through Courses</li>
            <li>Satisfaction Guarantee</li>
          </ul>
          <%= link_to "Become an Ember Pro", "/sales", class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Latest Videos</h3>
        <%= render 'latest_post', post: @posts.free.first %>
        <%= render 'latest_post', post: @posts.pro.first %>
        <div class="text-center">
          <%= link_to 'View All Videos', posts_path(latest: true), class: 'btn btn-lg btn-link' %>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :title, "EmberScreencasts.com" %>
<% content_for :meta_description, "Video tutorials for creating ambitious web developers.  Discover new tools and techniques level up your Ember skills with concise twice-weekly screencasts." %>
