<section>
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
          <h1>The largest library of ember screencasts</h1>
          <%= link_to 'View Library', library_path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h3>Featured Series</h3>
    <div class="row">

      <% @tags.each do |series| %>
        <div class="col-md-4 card-well">
          <div class="well">
            <%= link_to series, class: 'link-but-normal' do %>

              <!-- Series Image used here -->
              <%= image_tag series.thumbnail_image, class: "img-responsive" %>

              <div class="details">
                <h4 class="media-heading"><%= series.name %></h4>
                <%= series.taggings.length %> videos in the series
              </div>
            <% end %>
          </div>
        </div>
      <% end %>


    </div>
  </div>
</section>

<section class="bg-prime">
  <div class="container">
    <div class="text-center">
      <h3><%= link_to "View All Series", tags_path, class: 'btn btn-ghost' %></h3>
    </div>
  </div>
</section>


<section id="latest">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3><a href="#latest" style="color: #005;">Latest Videos</a></h3>
        <% @posts.limit(5).each do |post| %>
          <%= render 'latest_post', post: post %>
        <% end %>
        <div class="text-center">
          <%= link_to 'View All Videos', library_path, class: 'btn btn-lg btn-link' %>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :title, "EmberScreencasts.com" %>
<% content_for :meta_description, "Video tutorials for creating ambitious web developers.  Discover new tools and techniques level up your Ember skills with concise twice-weekly screencasts." %>
