<section>
  <div class="jumbotron text-center">

   <!-- <div id="video-container">
      <video loop muted autoplay poster="img/videoframe.jpg" class="fillWidth">
          <source src="/img/ember-video-background-loop-v4b.mp4" type="video/mp4">
      </video>
    </div> -->

    <div class="container">
      <div class="row">
          <h1>Video Tutorials for Creating Ambitious Developers.</h1>
          <h2 class="modified-headline">Discover new tools and techniques and level up your Ember skills with concise twice-weekly screencasts.</h2>
          <% unless current_user && current_user.subscribed %>
            <br>
            <%= render 'shared/subscribe' %><p>(<a href='/account'>more details</a>)</p>
          <% end %>
      </div>
    </div>
  </div>

</section>
<section>
  <div class="container">
    <div class="row"></div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="media">
          <h1>Newest free Video</h1>
          <%= render 'latest_post', post: @posts.free.first %>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="media pro-media">
          <h1>Newest Pro Video</h1>
          <%= render 'latest_post', post: @posts.pro.first %>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="testimonial clickable-external-link" data-url='https://twitter.com/cowboyd/status/566350618315345920?ref_src=twsrc%5Etfw'>
          <p class="person-photo"><%= image_tag "clowell-quote-pic.jpg" %></p>
          <p class="quote">A must watch for embereños of all stripes.</p>
          <p class="person-name">-Charles Lowell, founder of The Frontside</p>
        </div>
        <div class="testimonial clickable-external-link" data-url='https://twitter.com/bdougieYO/status/587211334120566784?ref_src=twsrc%5Etfw'>
          <p class="person-photo"><%= image_tag "bdouglas-quote-pic.jpg" %></p>
          <p class="quote">Highly recommend Ember Screencasts, awesome resource.</p>
          <p class="person-name">-Brian Douglas, Software Developer</p>
        </div>
        <div class="testimonial clickable-external-link" data-url='https://twitter.com/Krista_A_Nelson/status/595082772328251393?ref_src=twsrc%5Etfw'>
          <p class="person-photo"><%= image_tag "knelson-quote-pic.jpeg" %></p>
          <p class="quote">Wish I would of found these a few months ago!</p>
          <p class="person-name">-Krista Nelson, Software Developer</p>
        </div>
        <div class="testimonial clickable-external-link" data-url="https://twitter.com/pootsbook/status/606386501988040704?ref_src=twsrc%5Etfw">
          <p class="person-photo"><%= image_tag "ppoots-quote-pic.jpg" %></p>
          <p class="quote">Worth every penny!</p>
          <p class="person-name">-Philip Poots, creator of EmberWatch</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
	<div class="container clickable-media-link" data-url="/account">
    <p><br></p>
		<div class="row" id="socialproof2">
    	<div class="text-center col-md-4 col-lg-4" id="library">
     	  <p><%= image_tag("seal-library.png") %></p>
        <p>Unlimited access to every video in our library</p>
      </div>
    	<div class="text-center col-md-4 col-lg-4" id="brand2">
     	  <p class="image-fit"><%= image_tag("eslogo2.png") %></p>
        <% unless current_user && current_user.subscribed %>
          <button type="button" class="btn btn-success">Read About Pro</button>
        <% end %>
      </div>
    	<div class="text-center col-md-4 col-lg-4" id="updates">
     	  <p><%= image_tag("seal-updates.png") %></p>
     	  <p>New Courses Added Every Week</p>
    	</div>
    </div>
    <hr>
  </div>
</section>
<hr>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">


      </div>
    </div>
  </div>
</section>


<!-- <div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-2">
      </div>

      <div class="col-md-8">
        <h1 class="text-center">Video tutorials for creating ambitious developers</h1>

        <p>Discover new tools and techniques and level up your Ember skills with concise twice-weekly screencasts.</p>

        <p>You can <%= link_to 'explore different series and subjects', tags_path %>, start off with <%= link_to 'my favorites', tag_path('greatest-hits') %>, or see <%= link_to 'the latest screencasts', posts_path %>.</p>
        <% unless current_user && current_user.subscribed %>
          <div class="text-center">
            <%= render 'shared/subscribe' %>(<a href='/account'>more details</a>)
          </div>
        <% end %>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Newest Free Video</h2>
        <%= render 'latest_post', post: @posts.free.first %>
      </div>
      <div class="col-md-6">
        <h2 class="text-center">Newest Pro Video</h2>
        <%= render 'latest_post', post: @posts.pro.first %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Just signed up for <a href="https://twitter.com/JeffreyBiles">@JeffreyBiles</a>’ Ember.js screencasts at <a href="https://twitter.com/emberscreencast">@emberscreencast</a>. Worth every penny!</p>&mdash; Philip Poots (@pootsbook) <a href="https://twitter.com/pootsbook/status/606386501988040704">June 4, 2015</a></blockquote>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/JeffreyBiles">@JeffreyBiles</a> Just signed up for your Ember screencasts! They have been great so far! Wish I would of found these a few months ago!</p>&mdash; Krista Nelson (@Krista_A_Nelson) <a href="https://twitter.com/Krista_A_Nelson/status/595082772328251393">May 4, 2015</a></blockquote>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Loving the videos on Ember SparkCasts <a href="http://t.co/LGwcJEnx3V">http://t.co/LGwcJEnx3V</a> kudos to <a href="https://twitter.com/JeffreyBiles">@jeffreybiles</a> for putting them out there!</p>&mdash; Ember Talk (@emberjstalk) <a href="https://twitter.com/emberjstalk/status/472004689459163136">May 29, 2014</a></blockquote>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Highly recommend Ember Screencasts, awesome resource to expand knowledge into Ember and its addons <a href="http://t.co/Bgv6DcGNFQ">http://t.co/Bgv6DcGNFQ</a></p>&mdash; Brian Douglas (@brianllamar) <a href="https://twitter.com/brianllamar/status/587211334120566784">April 12, 2015</a></blockquote>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Simple, basic awesomeness 😎 Ember Screencasts <a href="https://t.co/nYA67PmZf6">https://t.co/nYA67PmZf6</a></p>&mdash; Rob Park (@robpark) <a href="https://twitter.com/robpark/status/619101232293146624">July 9, 2015</a></blockquote>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">If you&#39;re looking for some great training videos for <a href="https://twitter.com/hashtag/EmberJS?src=hash">#EmberJS</a>, make sure you check out @emberscreencasts! <a href="http://t.co/UBAKiZbpSC">http://t.co/UBAKiZbpSC</a></p>&mdash; HTML Fusion (@htmlfusion) <a href="https://twitter.com/htmlfusion/status/623282264709943296">July 21, 2015</a></blockquote>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">great to see <a href="https://twitter.com/JeffreyBiles">@JeffreyBiles</a> is back to spark-casting. <a href="http://t.co/uH7D6faeUq">http://t.co/uH7D6faeUq</a> A must watch for embereños of all stripes.</p>&mdash; Charles Lowell (@cowboyd) <a href="https://twitter.com/cowboyd/status/566350618315345920">February 13, 2015</a></blockquote>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Great tutorial on <a href="https://twitter.com/hashtag/emberjs?src=hash">#emberjs</a> computed properties <a href="http://t.co/gWszGzOdBA">http://t.co/gWszGzOdBA</a>. Didn&#39;t know Ember.computed had all these macros! <a href="https://twitter.com/hashtag/JavaScript?src=hash">#JavaScript</a></p>&mdash; David Tang (@skaterdav85) <a href="https://twitter.com/skaterdav85/status/600364515553714176">May 18, 2015</a></blockquote>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">For anyone interested in the <a href="https://twitter.com/emberjs">@emberjs</a> framework, <a href="https://twitter.com/JeffreyBiles">@JeffreyBiles</a> does some great tutorials at <a href="http://t.co/kKZxO8hgbh">http://t.co/kKZxO8hgbh</a> <a href="https://t.co/Bq7wpKSWU0">https://t.co/Bq7wpKSWU0</a></p>&mdash; Christa Marie Clark (@ChristaMClark) <a href="https://twitter.com/ChristaMClark/status/589657849229348864">April 19, 2015</a></blockquote>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Definitely check out Ember Screencasts! Support the community and learn a thing or two from <a href="https://twitter.com/JeffreyBiles">@JeffreyBiles</a> <a href="http://t.co/pHYeEQh8Pd">http://t.co/pHYeEQh8Pd</a></p>&mdash; Julian Tescher (@jatescher) <a href="https://twitter.com/jatescher/status/576813921744523264">March 14, 2015</a></blockquote>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Starting with <a href="https://twitter.com/emberjs">@emberjs</a>? <a href="http://t.co/iEfxtSWWvU">http://t.co/iEfxtSWWvU</a> is the perfect place to start learning! <a href="https://twitter.com/JeffreyBiles">@JeffreyBiles</a></p>&mdash; Jaime (@jaimemguajardo) <a href="https://twitter.com/jaimemguajardo/status/604075429889064960">May 29, 2015</a></blockquote>

    <blockquote class="twitter-tweet" data-conversation="none" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/JeffreyBiles">@JeffreyBiles</a> Your sparkcasts are awesome, thanks for providing great content to the community</p>&mdash; Alex DiLiberto (@alex_diliberto) <a href="https://twitter.com/alex_diliberto/status/568070481229836289">February 18, 2015</a></blockquote>
  </div>
  </div>
</div> -->

<% content_for :title, "EmberScreencasts.com" %>
<% content_for :meta_description, "Video tutorials for creating ambitious web developers.  Discover new tools and techniques level up your Ember skills with concise twice-weekly screencasts." %>
