<div>Name: {{input value=model.name}}</div>
<div>Description: {{textarea value=model.description}}</div>
<div>Tag Type:
  {{#x-select action='selectTagType' id="tag-type-select" value=model.tagType}}
    {{#x-option}}Prompt: select something{{/x-option}}
    {{#each tagTypes as |type|}}
      {{#x-option value=type}}{{type}}{{/x-option}}
    {{/each}}
    {{#each model.awesomeOptions as |type|}}
      {{#x-option value=type}}{{type}}{{/x-option}}
    {{/each}}
    {{#x-option value="ninja"}}Just a normal person, promise{{/x-option}}
  {{/x-select}}
</div>
<div>Priority: {{input value=model.priority}}</div>