<div>Name: {{input value=model.name}}</div>
<div>Description: {{textarea value=model.description}}</div>
<div>Tag Type:
  <select {{action 'selectTagType' on='change'}} id="tag-type-select">
    <option>Prompt: select something</option>
    {{#each tagTypes as |type|}}
      <option value="{{type}}" selected={{eq type model.tagType}}>{{type}}</option>
    {{/each}}
    {{#each model.awesomeOptions as |type|}}
      <option value="{{type}}" selected={{eq type model.tagType}}>{{type}}</option>
    {{/each}}
    <option value="{{ninja}}">Just a normal person, promise</option>
  </select>
</div>
<div>Priority: {{input value=model.priority}}</div>