
<% content_for :title, "EmberScreencasts Lesson Series" %>
<section>
  <div class="jumbotron">
    <div class="container">
      <h1>What do you want to learn today?</h1>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="card-series">
          <% @series.each do |series| %>
            <div class="card-well">
                <%= link_to series, class: 'link-but-normal' do %>

                  <!-- Series Image used here -->
                  <%= image_tag series.thumbnail_image, class: "img-responsive" %>

                  <div class="details">
                    <h4 class="media-heading"><%= series.name %></h4>
                    <%= series.taggings.length %> videos in the series
                  </div>
                <% end %>
            </div>
          <% end %>
    </div>
  </div>
</section>

<section>
<div class="container">
  <div id="tag_cloud">
    <ul class="list-inline">
      <% tag_cloud @subjects, %w[s m l] do |tag| %>
        <li>
          <%= link_to tag.name, tag_path(tag) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</section>