<section>
  <div class="jumbotron text-center explore">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>What do you want to learn today?</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="explore-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <ul class="series-list">
          <% @series.each do |series| %>
            <li class="media">
              <div class="media-body">
                <%= link_to series do %><h4 class="media-heading"><%= series.name %></h4><% end %>
                Length: <%= series.taggings.length %> videos, <%= series.seconds / 60 %> minutes<br />
                <%= series.description %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-8 col-xs-12">

        <ul class="tag-list">
          <div class="row">
            <% @subjects.each do |subject| %>
              <div class="col-md-6 col-xs-12">
                <li class="media">
                  <div class="media-body">
                    <%= link_to subject do %><h4 class="media-heading"><%= subject.name %></h4><% end %>
                    Length: <%= subject.taggings.length %> videos, <%= subject.seconds / 60 %> minutes
                  </div>
                </li>
              </div>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<% content_for :title, "Explore- EmberScreencasts" %>
<% content_for :meta_description, "View Ember.js videos, sorted by subject." %>
