{{#if hasItem}}
  <p>You're wearing a <span style="color:{{itemColor}};">{{itemColor}}</span> {{itemName}}.</p>

  <button {{action 'takeOffItem'}}>Take off the {{itemName}} <button {{action 'howToRemoveItem' bubbles=false}}>How?</button></button>
{{else}}
  {{color-selector itemName=itemName itemColor=itemColor putOnItem="putOnItem"}}
{{/if}}
