<h2>Hat.io</h2>

{{#if hasHat}}
  <p>You're wearing a <span style="color:{{hatColor}};">{{hatColor}}</span> hat.</p>

  <button {{action 'takeOffHat'}}>Take off the hat <button {{action 'howToRemoveHat' bubbles=false}}>How?</button></button>
{{else}}
  <p>Your hair is naked :(</p>

  Put on a hat:
  {{#each colors as |color|}}
    <button {{action 'putOnHat' color}} style="color:{{color}};">{{color}}</button>
  {{/each}}
{{/if}}
<hr>
<button {{action 'pressRelease'}}>Read our press release!</button>
<br>
<button {{action 'receiveAdvice'}}>Help</button>
