<h2>HatAndThings.net</h2>

{{accessory-control itemName='hat' bodyPart='hair'}}
{{accessory-control itemName='shoe' bodyPart='foot'}}
{{accessory-control itemName='bracelet' bodyPart='wrist'}}
{{accessory-control itemName='necklace' bodyPart='neck'}}
<hr>
<button {{action 'pressRelease'}}>Read our press release!</button>
<br>
<button {{action 'receiveAdvice'}}>Help</button>
