<h2>Accessor.ly</h2>

{{control-accessory showModalDialog="showModalDialog" pressRelease="pressRelease" takeOffItem="takeOffItem" itemName="hat"}}
{{control-accessory showModalDialog="showModalDialog" pressRelease="pressRelease" takeOffItem="takeOffItem" itemName="necklaces"}}
{{control-accessory showModalDialog="showModalDialog" pressRelease="pressRelease" takeOffItem="takeOffItem" itemName="shoes"}}
<hr>
<button {{action 'pressRelease'}}>Read our press release!</button>
<br>
<button {{action 'receiveAdvice'}}>Help</button>
