<li class="media clickable-media-link <%= if !post.free then (if current_user.andand.subscribed then 'pro-subscriber' else'pro-media' end) end %>" data-url="<%= post_path(post) %>">
  <%= link_to post_path(post) do %>
    <div class="media-left"><%= image_tag(post.thumbnail_image, class: 'media-object img-responsive') %></div>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to post.title, post %></h4>
      <p>
        <%= post.publish_date %> -- <%= post.readable_time %> --
        <a href="/posts?difficulty=<%=post.difficulty%>"><%= post.difficulty %></a>
        <% post.tags.each do |tag| %>
          -- <%= link_to tag.name, tag_path(tag) %>
        <% end %>
      </p>
      <p class="playtime"></p>
      <p><%= raw @markdown.render post.description %></p>
    </div>
  <% end %>
</li>
