<%= link_to post do %>
  <li data-url="<%= post_path(post) %>">
    <h4 class="media-heading">
        <%= truncate(post.display_title, length: 50) %>
        <% unless current_user && current_user.can_watch_pro %>
          <% if post.free %>
            <span class="icon free" style="display: inline-block;">FREE</span>
          <% end %>
        <% end %>
        <span class="play-time pull-right">
          <%= post.readable_time %>
        </span>
    </h4>
  </li>
<% end %>
    <!-- <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-5">
        <%= image_tag(post.thumbnail_image, class: 'media-object img-responsive') %>
      </div>
      <div class="col-xs-12 col-md-8 col-sm-7">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to post do %>
              <%= post.display_title %>
              <% unless current_user && current_user.can_watch_pro %>
                <% if post.free %>
                  <span class="icon free" style="display: inline-block;">FREE</span>
                <% end %>
              <% end %>
            <% end %>
          </h4>
          <p>

            <%= post.publish_date %> -- <%= post.readable_time %> --
            <a href="/posts?difficulty=<%=post.difficulty%>"><%= post.difficulty %></a>
            <% post.tags.each do |tag| %>
              -- <%= link_to tag.name, tag_path(tag) %>
            <% end %>
          </p>
          <%= raw @markdown.render post.description %>
        </div>
      </div>
    </div> -->
