<div class="post row">
  <div class="col-md-3 col-sm-4">
    <%= link_to image_tag(post.thumbnail_image, class: "img-responsive"), post %>
  </div>
  <div class="col-md-9 col-sm-8">
    <h2 class="index-title"><%= link_to post.title, post %></h2>
    <div class="published-on">
      <small>
        Published on <%= post.publish_date %> -- <%= post.difficulty %>
        <% post.tags.each do |tag| %>
          -- <%= link_to tag.name, tag_path(tag) %>
        <% end %>
      </small>
    </div>
    <div class="description"><%= raw @markdown.render post.description %></div>
    <% @post_type = if post.free then 'free' else 'pro' end %>
    <%= link_to "watch #{@post_type} episode (#{post.readable_time})", post, class: 'btn watch-btn' %>
  </div>
</div>
<hr>
