<section>
  <div class="jumbotron">
    <div class="container">
      <% if @tag %>
        <div class="row">
          <div class="col-md-4">
            <%= image_tag @tag.thumbnail_image, class: "img-responsive" %>
          </div>
          <div class="col-md-8">
            <h1 class="modified-headline"><%= @tag.name %></h1>
            <% if @tag.description %>
              <div class="tag-description"><%= raw @markdown.render @tag.description %></div>
            <% end %>
            <br>
              <ul class="list-inline" style="margin-left: 0px">
                <li class="white-well"><%= @tag.taggings.length %> videos</li>
                <li class="white-well"><%= @tag.seconds / 60 %> minutes</li>
              </ul>
          </div>
        </div>
      <% else %>
        <h1 class="text-center">Latest Videos</h1>
      <% end %>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row"></div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h4 class="text-center">Series Lessons</h4>
        <div class="list-group">
          <ul style="padding-left:0">
            <% @posts.each_with_index do |post, index| %>
              <%= render 'posts/post_listing', post: post, index: index%>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% if @latest %>
      <div class="row text-center">
        <p>This has been the latest 10 videos...</p>
        <h2><a class="btn btn-primary light-button" href="/posts">See All Videos</a></h2>
      </div>
    <% end %>
  </div>
</section>


<a href="https://mixpanel.com/f/partner" class="pull-right"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>

<% content_for :title, "Video List- EmberScreencasts" %>
<% content_for :meta_description, "Watch dozens of concise videos about Ember.js and the surrounding ecosystem." %>
