<%= render 'shared/mailing_list' %>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post row">
      <div class="col-md-4 col-sm-6">
        <%= link_to image_tag(post.thumbnail_image, class: "img-responsive"), post %>
      </div>
      <div class="col-md-8 col-sm-6">
        <h2 class="index-title"><%= link_to post.title, post %></h2>
        <b><% if post.free %> FREE <% else %> PRO <% end %></b>
        <div class="published-on">
          <em>Published on <%= post.publish_date %></em>
        </div>
         <div class="tags">Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>
        <div class="description"><%= raw @markdown.render post.description %></div>
        <%= link_to 'watch', post, class: 'btn' %>
      </div>
    </div>
    <hr>
  <% end %>
</div>