<% content_for :head do %>
  <meta property="og:image" content="<%= @post.thumbnail_image %>">

  <script src="//fast.wistia.com/static/embed_shepherd-v1.js"></script>
  <script>
    wistiaEmbeds.onFind(function(video) {
      video.videoFoam(true);
      video.addPlugin("resumable", {
        src: "//fast.wistia.com/labs/resumable/plugin.js"
      });
    });
  </script>
<% end %>
<% content_for :title, @post.title %>
<% content_for :meta_description, @post.description %>

<div id="single-video">
  <section>
    <div class="jumbotron text-center video_single">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <% if @previous_post %>
              <%= link_to "Previous: #{@previous_post.title}", @previous_post, class: 'previous-link' %>
            <% end %>
          </div>
          <div class="col-sm-8">
            <h1><%= @post.title %></h1>
          </div>
          <div class="col-sm-2">
            <% if @next_post %>
              <%= link_to "Next: #{@next_post.title}", @next_post, class: "next-link"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="video_single">
    <div class="container">
      <p id="notice"><%= notice %></p>
      <div class="row">
        <div class="col-md-9">
          <% if @viewable_by_user %>
            <div id="video-box">
              <%= render 'video', wistia_embed: @post.wistia_embed %>
            </div>
          <% else %>
            <div class="sales-box">
              <h2>You can view pro screencasts by subscribing</h2>
              <% unless current_user %>
                <span class="btn login-path-button"><a href="/users/sign_in">Already a Subscriber? Log in</a></span>
              <% end %>
              <%= render 'shared/subscribe' %>
              <span class="btn free-screencasts-button"><a href="/posts?free=true">Show me only Free screencasts</a></span>
            </div>
            <a href="/account">
              <%= image_tag @post.thumbnail_image, class: "img-responsive" %>
            </a>
          <% end %>
        </div>
        <div class="col-md-3" id="playtime">
          <h2 class="header-2"><%= @post.publish_date %> | <%= @post.readable_time %> | <a href="/posts?difficulty<%=@post.difficulty%>"><%=@post.difficulty%></a></h2>
          <p><strong>About this video</strong></p>
          <p><%= raw @markdown.render @post.description %></p>
          <div class="buttons">
            <% if @code_present %><a class="btn light-button" href="#code">Code</a><% end %>
            <% if @transcript_present %><a class="btn light-button" href="#transcript">Transcript</a><% end %>
            <a class="btn light-button" href="#comments">Comments</a>
          </div>
          <br>
          <p><strong>More videos like this </strong></p>
          <% @post.tags.each do |tag| %>
            <div class="tag-link"><span class="tag-type"><%= tag.tag_type %></span>:  <%= link_to tag.name, tag_path(tag) %></div>
          <% end %>

          <% if @post.links && @post.links.length > 0 %>
            <br>
            <p><strong>Links</strong></p>
            <%= raw @markdown.render(@post.links) %>
          <% end %>
        </div>
      </div>
    <div>
  </section>

  <% if @code_present %>
    <section id="code">
      <div class="container">
        <div class="row">
          <h2>Code</h2>
          <% if @viewable_by_google %>
            <%= @markdown.render(@post.code).html_safe %>
          <% else %>
            <p>Code is for subscribers only.</p>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
  <% if @transcript_present %>
    <section id="transcript">
      <div class="container">
        <div class="row">
          <h2>Transcript</h2>
          <% if @viewable_by_google %>
            <%= raw @markdown.render @post.transcript %>
          <% else %>
            <p>Transcript is for subscribers only.</p>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
  <section id="comments" align="center">
    <div id="disqus_thread"></div>
    <script>
    /**
    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
    */
    // /*
    var disqus_config = function () {
      // this.page.url = ""; // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "<%= @post.permalink %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    // */
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//emberscreencasts.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
