
<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<% if current_user.try(:subscribed) or @post.free or @post.in_trial_period %>
  <%= render 'video', video_url: @post.video_url %>
  <% if @post.free %>
    <p>This is a free post.  I hope you enjoy it!</p>
  <% elsif @post.in_trial_period %>
    <p><%= "#{@post.free_days_remaining} #{'free day'.pluralize(@post.free_days_remaining)} remaining." %></p>
  <% end %>
<% else %>
  <a href="/account">
    <%= image_tag @post.thumbnail_image, class: "img-responsive" %>
  </a>
  You can't watch this video. <%= link_to 'Subscribe Now', account_path %>
<% end %>

<div class="published-on">
  <em>Published on <%= @post.publish_date %></em>
</div>

<div class="description">
  <%= raw @markdown.render @post.description %>
</div>
<%= raw @post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>

<% if @post.links && @post.links.length > 0 %>
<div class="links">
  <h4>Links</h4>
  <%= raw @markdown.render(@post.links) %>  
</div>
<% end %>

<% if @post.transcript && @post.transcript.length > 0 %>
<div class="transcript">
  <h4>Transcript</h4>
  <%= raw @markdown.render @post.transcript %>
</div>
<% end %>

