<%= link_to 'Back', posts_path %>

<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<%= render 'video', video_url: @post.video_url %>

<div class="published-on">
  <em>Published on <%= @post.publish_date %></em>
</div>

<div class="description">
  <%= @post.description %>
</div>

<div class="transcript">
  <%= @post.transcript %>
</div>

