<% content_for :head do %>
  <meta property="og:image" content="<%= @post.thumbnail_image %>">
<% end %>
<% content_for :title do %>
  <%= @post.title %>- EmberScreencasts
<% end %>

<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<div class="row">
  <div class="col-lg-9 col-md-12">
    <% if current_user.try(:subscribed) or @post.free %>
      <%= render 'video', video_url: @post.video_url, wistia_embed: @post.wistia_embed %>
    <% else %>
      <div class="sales-box">
        <h2>You can view Pro screencasts by subscribing</h2>
        <span class="btn login-path-button"><a href="/users/sign_in">Already a Subscriber? Log in</a></span>
        <form action="/subscribe" method="POST">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
            data-name="EmberScreencasts.com"
            data-description="Monthly Subscription"
            data-label="Subscribe for $9.95/month"
            data-panel-label="Subscribe {{amount}}/month"
            data-amount="995">
          </script>
        </form>
        <span class="btn free-screencasts-button"><a href="/posts?free=true">Show me only Free screencasts</a></span>
      </div>
      <hr>
      <a href="/account">
        <%= image_tag @post.thumbnail_image, class: "img-responsive" %>
      </a>
    <% end %>

    <div class="published-on">
      <small>
        <% if @post.free %> Free <% else %> Pro <% end %>
        --
        Published on <%= @post.publish_date %>
        --
        <a href="/posts?difficulty=<%=@post.difficulty%>"><%= @post.difficulty %></a>
      </small>
    </div>
  </div>

  <div class="col-lg-3 col-md-12">
    <div class="description">
      <h3>Description</h3>
      <%= raw @markdown.render @post.description %>
    </div>

    <h3> More like this</h3>
    <% @post.tags.each do |tag| %>
      <b><%= tag.tag_type %></b>:  <%= link_to tag.name, tag_path(tag) %>
      <br>
    <% end %>

    <% if @post.links && @post.links.length > 0 %>
    <div class="links">
      <h4>Links</h4>
      <%= raw @markdown.render(@post.links) %>
    </div>
    <% end %>
  </div>
</div>
