<% content_for :head do %>
  <meta property="og:image" content="<%= @post.thumbnail_image %>">
  <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
<% end %>
<% content_for :title, @post.title %>
<% content_for :meta_description, @post.description %>

<div id="single-video">
  <section>
    <div class="jumbotron text-center video_single">
      <div class="container">
        <% if @series %>
          <h4>
            <%= link_to "Series: #{@series.name}", @series, class: 'white-well spacer btn', style: 'font-size: 16px' %>
          </h4>
        <% end %>
        <h3 class="text-white" style="margin-top:10px"><%= @post.display_title %></h3>
        <h5 class="text-white">Published on <%= @post.publish_date.strftime('%b %d, %Y') %></h5>
      </div>
    </div>
  </section>

  <section class="video_single">
    <div class="container">

      <p id="notice"><%= notice %></p>
      <div class="row spacer">
        <div class="col-xs-6">
          <% if @previous_post %>
            <%= link_to "< #{@previous_post.display_title}", @previous_post, class: 'spacer' %>
          <% end %>
        </div>
        <div class="col-xs-6 text-right">
          <% if @next_post %>
            <%= link_to "#{@next_post.display_title} >", @next_post, class: 'spacer' %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div id="video-box">
              <%= render 'video', youtube_url: @post.youtube_url, embed_id: @post.embed_id, current_user: current_user %>
            </div>
          <ul class="list-inline top-buffer">
            <li>Tags:</li>
            <% @post.tags.each do |tag| %>
              <li><%= link_to tag.name, tag_path(tag), class: "btn btn-sm btn-primary" %></li>
            <% end %>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <div class="container top-buffer">
    <div class="row">
      <div class="col-md-8">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
          <li role="presentation"><a href="#transcript" aria-controls="transcript" role="tab" data-toggle="tab">Transcript</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="notes">
            <%= raw @markdown.render @post.description %>
            <% if @post.links && @post.links.length > 0 %>
              <br>
              <p><strong>Links</strong></p>
              <%= raw @markdown.render(@post.links) %>
            <% end %>
            <% if @code_present %>
              <section id="code">
                <h2>Code</h2>
                <%= @markdown.render(@post.code).html_safe %>
              </section>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane" id="transcript">
            <% if @transcript_present %>
              <section id="transcript">
                <h2>Transcript</h2>
                <%= raw @markdown.render @post.transcript %>
              </section>
            <% end %>
          </div>
        </div>
      </div>

      <% if @series %>
        <div class="col-md-4">
          <%= link_to @series.name, tag_path(@series), class: "btn btn-success well-title" %>
          <div class="series-list side-well">
            <ol>
              <% @series.posts.published.recent_first.reverse_each do |post| %>
                <li><%= link_to post.display_title, post_path(post) %></li>
              <% end %>
            </ol>
          </div>
        </div>
      <% end %>
    </div>

    <section id="comments" align="center" class="top-buffer">
        <div id="disqus_thread"></div>
    </section>
    <script>
    /**
    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
    */
    // /*
    var disqus_config = function () {
      // this.page.url = ""; // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "<%= @post.permalink %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    // */
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//emberscreencasts.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>


<!-- <div class="col-md-3" id="playtime">
  <h2 class="header-2"><%= @post.publish_date %> | <%= @post.readable_time %> | <a href="/posts?difficulty<%=@post.difficulty%>"><%=@post.difficulty%></a></h2>
  <p><strong>About this video</strong></p>
  <p><%= raw @markdown.render @post.description %></p>
  <div class="buttons">
    <% if @code_present %><a class="btn light-button" href="#code">Code</a><% end %>
    <% if @transcript_present %><a class="btn light-button" href="#transcript">Transcript</a><% end %>
    <a class="btn light-button" href="#comments">Comments</a>
  </div>
  <br>
  <p><strong>More videos like this </strong></p>
  <% @post.tags.each do |tag| %>
    <div class="tag-link"><span class="tag-type"><%= tag.tag_type %></span>:  <%= link_to tag.name, tag_path(tag) %></div>
  <% end %>

  <% if @post.links && @post.links.length > 0 %>
    <br>
    <p><strong>Links</strong></p>
    <%= raw @markdown.render(@post.links) %>
  <% end %>
</div> -->
