
<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<%= render 'video', video_url: @post.video_url %>

<div class="published-on">
  <em>Published on <%= @post.publish_date %></em>
</div>

<div class="description">
  <%= raw @markdown.render @post.description %>
</div>

<% if @post.links && @post.links.length > 0 %>
<div class="links">
  <h4>Links</h4>
  <%= raw @markdown.render(@post.links) %>  
</div>
<% end %>

<% if @post.transcript && @post.transcript.length > 0 %>
<div class="transcript">
  <h4>Transcript</h4>
  <%= raw @markdown.render @post.transcript %>
</div>
<% end %>

