<h1>Show Post</h1>

<p>Title: {{model.title}}</p>
<p>Free: {{model.free}}</p>
<p>VideoUrl: {{model.videoUrl}}</p>
<p>Length: {{model.seconds}} seconds</p>
<p>Description: {{model.description}}</p>

<ul>
{{#each model.taggings as |tagging|}}
  {{#link-to 'tag.show' tagging.tag tagName="li"}}<a href="#">{{tagging.tag.name}}</a>{{/link-to}}
{{/each}}
</ul>

{{#link-to 'post.edit' model tagName="button"}}Edit{{/link-to}}

<button {{action 'delete'}} class="pull-right">Delete</button>