{{#if hasItem}}
  <p>You're wearing a <span style="color:{{color}};">{{color}}</span> {{itemName}}.</p>

  <button {{action 'takeOffItem'}}>Take off the {{itemName}} <button {{action 'howToRemoveItem' bubbles=false}}>How?</button></button>
{{else}}
  <p>Your {{bodyPart}} needs a {{itemName}}</p>

  {{color-selection colors=colors itemName=itemName putOnItem=(action "putOnItem")}}
{{/if}}
<hr>
