<!DOCTYPE html>
<html>
<head>
  <title>Ember Screencasts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-static-top sparks-header navbar-default" id="application-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand sparkcast-brand" href="/">Ember Screencasts</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/series">Series</a></li>
        <li><a href="/posts">Latest</a></li>
        <li class="dropdown">
          <a data-toggle="dropdown">Difficulty <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" href="#" data-target="#">
            <li><a href="/posts?difficulty=basic">Basic</a></li>
            <li><a href="/posts?difficulty=intermediate">Intermediate</a></li>
            <li><a href="/posts?difficulty=advanced">Advanced</a></li>
          </ul>
        </li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <% if current_user.admin %>
            <li><%= link_to 'ActiveAdmin', '/admin' %></li>
            <li><%= link_to 'Ember Admin', '/ember_admin' %></li>
          <% else %>
            <li><a href="/mailing_list">Join Mailing List</a></li>
          <% end %>
          <li><%= link_to current_user.email, account_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><a href="/mailing_list">Join Mailing List</a></li>
          <li><a href="/users/sign_in">Sign In</a></li>
          <li><a href="/users/sign_up">Register</a></li>
        <% end %>
      </ul>
    </div> 
  </div>
</header>
<div class="container main-content">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= yield %>
</div>
<%= render 'shared/footer' %>
</body>
</html>
