<div class="container">
  <% if organization = current_user.try(:organization) %>
    <h2>Account Management</h2>

    <p>You are part of the <%= organization.name %> organization.</p>
    <%= link_to "Change your email or password", edit_user_registration_path %>
    <hr>
    <% if current_user.organization_admin %>
      <p>As an admin, you can add and remove users or change your credit card.</p>
      <a href="/organization_admin" class="btn btn-primary light-button">Manage Users</a>
      <hr>
      <%= render 'shared/change_credit_card' %>
      <hr>
      <p>To close down the account, <a href="/organization_admin#/remove-users">remove</a> all users (including yourself)</p>
    <% else %>
      <p>To make other changes to your account, please contact one of the admins:</p>
      <ul>
        <% organization.admin_users.each do |user| %>
          <li><%= user.email %></li>
        <% end %>
      </ul>
    <% end %>
  <% elsif current_user.try(:subscribed) %>
    <h2>Thank you for your support!</h2>
    <p>Feel free to <%= link_to 'watch any video on the site', posts_path %>.  Or, if you're done with learning from me, you can <%= link_to 'cancel your subscription', unsubscribe_path, method: :post, data: {confirm: "You hit the 'cancel your subscription' link. Hitting OK means you will IMMEDIATELY lose access to pro videos.  OK?"} %>.</p>

    <hr>
    <%= link_to "Change your email or password", edit_user_registration_path %>
    <%= render 'shared/change_credit_card' %>
    <hr>
    <a href="/organization_admin#/new" class="btn btn-primary light-button">I want to create an organization from this account.</a>
  <% else %> <!-- Non-pro users -->
    <h2>Hi <%= current_user.email %></h2>
    <p>You are currently not a pro subscriber</p>
    <%= render 'shared/subscribe' %>
    <hr>
    <%= link_to "Change your email or password", edit_user_registration_path %>
  <% end %>
  <% content_for :title, "My Account- EmberScreencasts" %>
</div>
