<div class="container">
  <% if current_user.try(:subscribed) %>
    <h2>Thank you for your support!</h2>
    <p>Feel free to <%= link_to 'watch any video on the site', posts_path %>.  Or, if you're done with learning from me, you can <%= link_to 'unsubscribe', unsubscribe_path, method: :post, data: {confirm: "You hit the 'unsubscribe' link. Hitting OK means you'll no longer have access to Pro videos.  OK?"} %>.</p>

    <hr>

    <%= link_to "Change your email or password", edit_user_registration_path %>
    <form action="/change_credit_card" method="POST">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
        data-name="EmberScreencasts.com"
        data-description="Next charge will be with new card."
        data-label="Change Credit Card"
        data-email="<%= current_user.email %>"
        data-panel-label="Change Credit Card">
      </script>
    </form>

    <% content_for :title, "My Account- EmberScreencasts" %>
  <% else %>
    <h1>The best resource for intermediate Ember developers</h1>
    <p>For just $9.95/month, you get <em>instant</em> <em>on-demand</em> access to every single video in the emberscreencasts library.</p>

    <ul>
        <li>New up-to-date videos every week.</li>
        <li>Over 7 hours of fast-paced content.</li>
        <li>No commitment- unsubscribing is instant and easy.</li>
    </ul>

    <h2>Save time.  Learn more.  Be better.</h2>
    <%= render 'shared/subscribe' %>
    <br>
    <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.emberscreencasts.com' target='_blank'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
    <br>
    <a href="/organization_admin">Enterprise user?</a>

    <!-- Lots of testimonials -->
    <!-- Another subscribe button -->

    <% content_for :title, "Learn like a Pro- sign up for an EmberScreencasts Pro Subscription." %>
  <% end %>

  <% content_for :meta_description, "Subscribe to an emberscreencasts.com pro account to boost your learning and be a better Ember developer." %>
</div>
