<div class="container">
  <% if organization = current_user.try(:organization) %>
    <h2>Account Management</h2>

    <p>You are part of the <%= organization.name %> organization.</p>
    <%= link_to "Change your email or password", edit_user_registration_path %>
    <hr>
    <% if current_user.organization_admin %>
      <p>As an admin, you can add and remove users or change your credit card.</p>
      <a href="/organization_admin" class="btn btn-primary light-button">Manage Users</a>
      <hr>
      <%= render 'shared/change_credit_card' %>
      <hr>
      <p>To close down the account, <a href="/organization_admin#/remove-users">remove</a> all users (including yourself)</p>
    <% else %>
      <p>To make other changes to your account, please contact one of the admins:</p>
      <ul>
        <% organization.admin_users.each do |user| %>
          <li><%= user.email %></li>
        <% end %>
      </ul>
    <% end %>
  <% elsif current_user.try(:subscribed) %>
    <h2>Thank you for your support!</h2>
    <p>Feel free to <%= link_to 'watch any video on the site', posts_path %>.  Or, if you're done with learning from me, you can <%= link_to 'unsubscribe', unsubscribe_path, method: :post, data: {confirm: "You hit the 'unsubscribe' link. Hitting OK means you'll no longer have access to Pro videos.  OK?"} %>.</p>

    <hr>

    <%= link_to "Change your email or password", edit_user_registration_path %>
    <%= render 'shared/change_credit_card' %>
    <hr>
    <a href="/organization_admin#/new" class="btn btn-primary light-button">I want to create an organization from this account.</a>

    <% content_for :title, "My Account- EmberScreencasts" %>
  <% else %>
    <h1>The best resource for intermediate Ember developers</h1>
    <p>For just $9.95/month, you get <em>instant</em> <em>on-demand</em> access to every single video in the emberscreencasts library.</p>

    <ul>
        <li>New up-to-date videos every week.</li>
        <li>Over 7 hours of fast-paced content.</li>
        <li>No commitment - unsubscribing is instant and easy.</li>
    </ul>

    <h2>Save time.  Learn more.  Be better.</h2>
    <%= render 'shared/subscribe' %>
    <br>
    <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.emberscreencasts.com' target='_blank'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
    <br>
    <p>Buying for your organization?  You can add more users to your account after signing up.</p>

    <!-- Lots of testimonials -->
    <!-- Another subscribe button -->

    <% content_for :title, "Learn like a Pro- sign up for an EmberScreencasts Pro Subscription." %>
  <% end %>

  <% content_for :meta_description, "Subscribe to an emberscreencasts.com pro account to boost your learning and be a better Ember developer." %>
</div>
