<p>Title: {{input value=model.title}}</p>
<p>Free: {{input type="checkbox" checked=model.free}}</p>
<p>VideoUrl: {{input value=model.videoUrl}}</p>
<p>Length (in seconds): {{input value=model.seconds}}</p>
<p>Description: {{textarea value=model.description}}</p>
<p>{{input valueBinding='file' type='file' id='file-field'}} <img src="{{model.imageUrl}}" id="preview-image" class="small-image" /></p>